---
import Layout from '../layouts/Layout.astro';
import Table from '../components/Table'
import TableRow from '../components/TableRow'
---

<Layout title="Welcome to Astro.">
	<main>
		<Table client:load />
		<table>
			<TableRow client:load />
		</table>
		<a href="/other">See the working component</a>
	</main>
</Layout>
