---
import Layout from '../layouts/Layout.astro';
import Div from '../components/Div'
---

<Layout title="Welcome to Astro.">
	<main>
		<Div client:load />
		<a href="/">See the broken components</a>
	</main>
</Layout>
